extends base.pug

block style
    style   
        include ../static/contact.css
block content
    .contactcon
        h1 Contact Us
        form(action="/contact", method="post" class="myform")
            input(type="text", class="myInput", id="name",name="name",placeholder="enter your name")
            input(type="email", class="myInput", name="email",placeholder="enter your Email")
            input(type="phone", class="myInput", name="phone",placeholder="enter your PhoneNO.")
            input(type="text", class="myInput", name="address",placeholder="enter your Address")
            textarea(type="text", class="myInput", name="query",placeholder="enter your Query")
            button(class="btn")
                | submit
            p
                | #{message}
            
