extends base.pug
block heads
    link(rel='stylesheet', href='../static/assets/vendor/bootstrap/css/bootstrap.min.css')
    |     
    //- link(href='../static/assets/vendor/fonts/circular-std/style.css', rel='stylesheet')
    //- |     
    link(rel='stylesheet', href='../static/assets/libs/css/style.css')
    |     
    link(rel='stylesheet', href='../static/assets/vendor/fonts/fontawesome/css/fontawesome-all.css')
block style
    style
        include ../static/login.css
block scripts
    script(src="../static/tablefilter.js")
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js")
    script(src="../static/mask.js")
block content
    if(typeof err != 'undefined')
        .alert
            button.close(type='button' data-dismiss='alert') &times;
            strong #{err}
    if(typeof email!='undefined')
        -var value2 = "";
    else
        -var value2 = '';
    if(typeof username!='undefined')
        -var value3 = username;
    else
        -var value3 = '';
    form.splash-container(action='/register' method='POST')
        .card
            if(typeof err != 'undefined')
                .alert
                    button.close(type='button' data-dismiss='alert') &times;
                    strong #{err}
            if(typeof email!='undefined')
                -var value2 = email;
            else
                -var value2 = '';
            if(typeof username!='undefined')
                -var value3 = username;
            else
                -var value3 = '';
            .card-header
                h3.mb-1 Registrations Form
                |                 
                p Please enter your user information.
            |             
            .card-body
                
                .form-group 
                    input.form-control.form-control-lg(type='email', name='email', required='', placeholder='E-mail', autocomplete='off' value=`${value2}`)
                |                 
                .form-group
                    input.form-control.form-control-lg(type='text', name='username', required='', placeholder='Username', autocomplete='off' value=`${value3}`)
                |                 
                .form-group
                    input#pass1.form-control.form-control-lg(type='password', required='', name='password' placeholder='Password')
                |                 
                .form-group
                    input.form-control.form-control-lg(required='', name='confirmpassword' placeholder='Confirm')
                |               
                .form-group
                    select.form-control(name="Gender")
                        option(value='' ) Select Gender
                        option(value='male') Male
                        option(value='female') Female
                //- .form-group
                //-     input#Address.form-control.form-control-lg(type='text' name='Address' autocomplete='off' placeholder='Address')
                //- .form-group
                //-     input#State.form-control.form-control-lg(type='text' name='State' autocomplete='off' placeholder='State')
                //- .form-group
                //-     input#City.form-control.form-control-lg(type='text' name='City' autocomplete='off' placeholder='City')
                //- .form-group
                //-     input#PIN.form-control.form-control-lg(type='text' name='pincode' autocomplete='off' placeholder="PinCode")
                //- .form-group
                //-     input#phone.form-control.form-control-lg(type='text' name='phone' autocomplete='off' placeholder="phone Number")
                .form-group.pt-2
                    button.btn.btn-block.btn-primary(type='submit') Register My Account
                |                 
                .form-group
                    label.custom-control.custom-checkbox
                        input.custom-control-input(type='checkbox' name="TnC_check" value="check")
                        span.custom-control-label
                            | By creating an account, you agree the 
                            a(href='#') terms and conditions
                |                 
                //- .form-group.row.pt-0
                //-     .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12.mb-2
                //-         button.btn.btn-block.btn-social.btn-facebook(type='button') Facebook
                //-     |                     
                //-     .col-xl-12.col-lg-12.col-md-12.col-sm-12.col-12
                //-         button.btn.btn-block.btn-social.btn-twitter(type='button') Twitter
            |             
            .card-footer.bg-white
                p
                    | Already member? 
                    a.text-secondary(href='/login') Login Here.
