extends base.pug

block style
    style
        include ../static/productUpload.css
block scripts
    script(src="../static/categorienav.js")

block content
    p.heading
        | Start Services
        .UploadPage
            .Uploadinfo
            form.uploadform(action=`/StartServices` , method="post")
                input.catsclass(type="submit")