/* @import "lesshat"; */
@import url(https://fonts.googleapis.com/css?family=Roboto:400+700);
.Details_explorer{
  margin-top:40px;
  background-color: white;
  /* border: 2px solid red; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  /* height: 400px; */
}
.features-bar{
  
  position: relative;
  /* border: 2px solid pink; */
/* width: 200px; */
align-items: center;
  text-align: center;
}
.title-bar{
  display: inline-block;
  position: relative;
  /* border: 2px solid pink; */
  color: white;
background-color: rgba(126, 44, 6, 0.822);
margin: 10px;
padding: 1em;
max-width: 600px;
border-radius: 20px;
align-items: center;
  text-align: center;
}
.title-bar:before{
  content: "";
  display: block;
  width: 1100%;
  height: 2px;
  background: #1f1f6b36;
  left: 128px;
  top: 50%;
  position: absolute;
}
.title-bar::after{
  content: "";
  display: block;
  width: 700%;
  height: 2px;
  background: #1f1f6b36;
  right: 128px;
  top: 50%;
  position: absolute;
}
.title-bar-OC:before{
  content: "";
  display: block;
  width: 1100%;
  height: 2px;
  background: #1f1f6b36;
  left: 10em;
  top: 50%;
  position: absolute;
}
.title-bar-OC::after{
  content: "";
  display: block;
  width: 500%;
  height: 2px;
  background: #1f1f6b36;
  right: 10em;
  top: 50%;
  position: absolute;
}

.specification-bar{
  text-align: justify;
  padding: 20px;;
  /* width: 24rem; */
  /* border:2px solid black; */

}
#chart {
      /* width: 650px; */
    /* display: flex; */
    border: 2px solid rgba(162, 164, 168, 0.651);
    /* width: 650px; */
    flex-wrap: wrap;
    justify-content: space-around;
    height: 282px;
    /* margin: 50px; */
    /* margin-top: 60px; */
    margin-bottom: 15px;
    padding-top: 17px;
    display: flex;
    background: white;
}
#chart #numbers {

  /* width: 50px; */
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  /* float: left; */
}
#chart #numbers li {
  text-align: right;
  /* padding-right: 1em; */
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #444;
  position: relative;
  bottom: 30px;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  /* color: rgb(129, 10, 10); */
  position: absolute;
  bottom: 0;
  right: 10px;
}
#chart #bars {
  display: inline-table;
  background: rgba(0,0,0,0.2);
  background: none;
  /* border: 2px solid rgb(41, 9, 156); */
  border: none;
border-bottom: 2px solid rgb(115 110 110);

width: 100%;
height: 235px;
padding: 0;
margin: 0;
/* box-shadow: 0 0 0 1px #444; */
/* box-shadow: 0 0 0 3px rgb(2, 18, 34); */

}
#chart #bars li {
  display: table-cell;
  width: 85px;
  height: 230px;
  margin: 0;
  text-align: center;
  position: relative;
}

#chart #bars li .bar {
  display: block;
  width: 32%;
  margin-left: 15px;
  /* background: rgb(6, 32, 58); */
  box-shadow: inset -2px 0 0 -1px #F5961D, inset 0 0 0 1px #DE7921;
  background: #5AE;

  position: absolute;
  bottom: 2px;
}
#chart #bars li .bar:hover {
  background: #5AE;
  cursor: pointer;
}
#chart #bars li .bar::before {
  color: rgb(27, 17, 17);
  content: attr(data-percentage) '%';
  position: relative;
  bottom: 20px;
  font-size: 12px;
}
#chart #bars li span {
  /* color: rgb(158, 149, 149);
  
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center; */
  color: rgb(158, 149, 149);
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 26px;
  text-align: initial;
  bottom: -1.4em;
}

.container3{
  display: flex;
flex-wrap: wrap;

    justify-content: center;
}