@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@500&display=swap');
.rate-card {
    width: 300px;
    box-shadow: 3px 4px 4px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 54px;

    box-shadow: 0px 1px 6px -3px;
}

.adiv {
    background: #0063FF;
    border-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 22px;
    height: 46px;
    padding-top: 12px;
    color: white
}


.fas {
    cursor: pointer
}

.fa-chevron-left {
    color: #fff
}

h6 {
    font-size: 12px;
    font-weight: bold
}

small {
    font-size: 10px;
    color: #898989
}

.form-control-rate{
    border: none;
    resize: none;
    width: 22em;
    background: #F6F7FB;
    font-size: 12px;
    outline: none;
}

.form-control-rate:focus {
    box-shadow: none;
    background: #F6F7FB
}

.form-control-rate::placeholder {
    font-size: 12px;
    color: #B8B9BD
}

.btn-primary {
    background: #0063FF;
    padding: 4px 0 7px;
    border: none
}

.btn-primary:focus {
    box-shadow: none
}

.btn-primary span {
    font-size: 12px;
    color: #A6DCFF
}
.btn-block{
  width: 54px;
  margin-bottom: 10px;
}
p.mt-3 {
    font-size: 11px;
    color: #B8B9BD;
    cursor: pointer
}