
.main {
    width: 100%;
    /* background-color: #000 */
}

.one {
    background-color: #0c1120;
    /* border-radius: 5px; */
    padding: 20px;

}

.dotdot {
    font-size: 13px !important;
    font-weight: lighter !important;
    color: #76787b;
}

.name {
    font-size: 15px;
    color: #b7b7b7;
    font-weight: 600;
}

.mail {
    font-size: 15px;
    font-weight: 500;
    color: #5a5d64;
}

.total {
    font-size: 16px;
    font-weight: 500;
    color: #8a8b8f;
}

.money {
    font-size: 18px;
    font-weight: 600;
    color: #dedbdb;
    margin-left: 10px;
    margin-right: 10px;
}

.details {
    font-size: 15px;
    font-weight: 500;
    color: #e4e4e6;
    width: 100%;
}
.details:hover {
background-color: brown;

}

.right {
    font-size: 12px;
    color: #0606b5;
}
.col-md-3{
    margin-top: 0;
    margin-bottom: 4px;
    padding-right: 0;
    padding-left: 5px;
}
#text-verticle{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
#BlueTick{
    color: rgb(241, 241, 248);
    font-size: 20px;
}