.ui-menu-item::before {
    font-family: FontAwesome;
    content: "\f002";
    color: #939299;
    background-size: 20px 16px;
    background-repeat: no-repeat;
    height: 16px;
    width: 33px;
    display: block;
    position: absolute;
    margin: 10px;
    margin-top: 0;
}

.ui-menu-item:hover {
    text-overflow: ellipsis;
    background-color: #c9d8db;
    /* display: inline-block; */
}

.ui-menu-item {
    padding: 5px;
}

.ui-menu-item-wrapper {
    margin-left: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ui-id-1 {
    position: absolute;
    /* padding-top: 10px; */
    padding: 10px;
    background-color: white;
    /* width: 334px; */
    list-style: none;
    animation: growDown 100ms ease-in-out forwards;
    transform-origin: top center;
    color: black;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

#search {
    position: relative;
    /* width: 100%; */
    width: 40vmax;
}


.searchform {
    position: relative;
}

#search-icon {
    position: relative;
    background-color: white;
    height: 30px;
    border-bottom: 2px solid rgb(221, 218, 218);
    border-top-left-radius: 5px;
    padding: 10px;
    padding-top: 6px;
    color: #b1b5b6;
    /* margin-top: 0; */
}