
.TOP{

    display: flex;
    flex-wrap: wrap;
justify-content: space-around;    
    /* border-bottom: 2px solid white; */
    
    }

.logo{
/* border: 2px solid black; */
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
}



.logo>img{
height: 40px;

/* width: 80px; */
filter: invert(100%);
/* border: 2px solid black; */
}

.socialicon2>img{

    height: 40px;
}
.logo span{
    
/* margin-left: 10px; */
/* margin-right: 40px; */

}

.coninfo{
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    /* border: 2px solid black; */
/* align-items: center; */
align-items: center;
/* margin-left: 42px; */
}

.infos{
/* margin-top: 55px; */
margin: 6px;
margin-top: 2px;
margin-bottom: 0px;

}

svg{
-webkit-tap-highlight-color: transparent;

    color: rgb(255, 255, 255);
    font-size: 30px;
    /* background-color: blue; */
    }

    svg:hover{
color: rgb(5, 161, 223);

    }
.social{
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    /* padding: 20px; */
    /* margin-right: 50px; */
}
img{

    size: 5px;
}
.side_bar{
    display: none;
}

.socialicon img{
margin: 20px;
margin-top: 8px;
margin-bottom: 0;
/* size: 22px */
height: 22px;
width: 22px;

}
#login{
    color:rgb(230, 223, 212);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-decoration: none;
    background: none;
    outline: none;
    border: none;
}
#login:hover{
    background-color: rgb(10, 30, 46);
}
/* input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; } */
@media screen and (max-width: 715px) {
    /* .social{
      display: none;
    } */
  
    .logo{
        display: none;
         }
         .side_bar{
            display: block;
        }
  }
@media screen and (max-width: 600px) {
    svg{
    color: rgb(76 73 73);

    }
#login{
    display: none;
}
        
        .Cart{
            display: none;
        }
        #HOMEICO{
            display: none;
        }
  }
