extends Dashboard.pug

block append style
    link(rel='stylesheet' href='fonts/material-icon/css/material-design-iconic-font.min.css')
    link(rel='stylesheet' href='../static/Employee_styleForm.css')
    link(rel='stylesheet' href='../static/underReview.css')
    link( rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')


block Dash
    .editProfile
        .wrapper(style="margin-top:120px;")
            .title
                | Recharge krwale
                .title2(style="font-size:15px;")
                    | accha bete
                a(href="/rechargedone" style="font-size:15px;") click kr yah
    