extends userDashboard.pug

block userDashboard
    .splash-container
        .card.mb-5
            .card-header.text-center
                span DOT MATRIX
                div.splash-description Please Confirm Your Old Password.
            |             
            .card-body
                form(method="post" action=`/dashboard/ChangePassword?from=reg_dashboard`)
                    p #{message}
                    .form-group
                        input.form-control.form-control-lg(type='password', name='old_password', required='', placeholder='Old Password', autocomplete='off')
                    .form-group
                        input.form-control.form-control-lg(type='password', name='new_password', required='', placeholder='New Password', autocomplete='off')
                    .form-group
                        input.form-control.form-control-lg(type='password', name='confirmpassword', required='', placeholder='Confirm New Password', autocomplete='off')
                    |                     
                    .form-group.pt-1
                        button.btn.btn-block.btn-primary.btn-xl(type="submit") Reset Password
    // ==============================================================
    // end forgot password
    // ==============================================================
    // Optional JavaScript


